In [1]:
import re
my_regex = re.compile("[0-9]", re.I)

In [2]:
my_regex

re.compile(r'[0-9]', re.IGNORECASE|re.UNICODE)

In [3]:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()
lookup
my_counter

Counter()

In [4]:
5/2

2.5

In [5]:
5//2

2

In [6]:
def aplicaF(f):
    return f(1)

In [15]:
def double(x):
    return x*2

In [16]:
aplicaF(double)

2

In [17]:
aplicaF(lambda x: x+4)

5

In [20]:
tab_string = "\t"
tab_string
tab_string2 = '\t'
tab_string2

'\t'

In [21]:
new_tab_string = r"\t"
new_tab_string
new_tab_string2 = r'\t'
new_tab_string2

'\\t'

In [23]:
multiline = """esto
es 
lineas"""
multiline

'esto\nes \nlineas'

In [28]:
x1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
x1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
x = range(10)
x

range(0, 10)

In [29]:
zero = x[0]
zero
zero1 = x1[0]
zero1

0

In [30]:
one = x[1]
one
one1 = x1[1]
one1

1

In [31]:
x1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:

x1[0] = -2
x1

[-2, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
first_three = x1[:3]
first_three

[-2, 1, 2]

In [36]:
three_to_end = x1[3:]    
three_to_end

[3, 4, 5, 6, 7, 8, 9]

In [37]:
one_to_four = x1[1:5]
without_first_and_last = x1[1:-1] 
copy_of_x1 = x1[:]
copy_of_x1

[-2, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
last_three = x1[-3:]
last_three

[7, 8, 9]

In [39]:
7 in last_three

True

In [40]:
l = [1, 2, 3]
l.extend([4, 5, 6])
l

[1, 2, 3, 4, 5, 6]

In [42]:
y = l + [7,8,9]
y

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
x, y = [1, 2]    # now x is 1, y is 2
_, y = [1, 2]    # now y == 2, didn't care about the first element

In [44]:
#tuplas inmutables
my_list = [1, 2]
my_tuple = (1, 2)
other_tuple = 3, 4
my_list[1] = 3      # my_list is now [1, 3]

try:
    my_tuple[1] = 3
except TypeError:
    print("cannot modify a tuple")

cannot modify a tuple

In [45]:
grades = {"Joel": 80, "Tim": 95} 
joel_has_grade = "Joel" in grades     # True
kate_has_grade = "Kate" in grades

In [47]:
joels_grade = grades.get("Joel", 0)   # equals 80
joels_grade

80

In [49]:
kates_grade = grades.get("Kate", 0)   # equals 0
kates_grade

0

In [50]:
no_ones_grade = grades.get("No One")
no_ones_grade

In [58]:
#dictionary are inmutable
tweet = {
    "user" : "joelgrus",
    "text" : "Data Science is Awesome",
    "retweet_count" : 100,
    "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"]
}

In [52]:
tweet_keys   = tweet.keys()     # iterable for the keys
tweet_keys

dict_keys(['user', 'text', 'retweet_count', 'hashtags'])

In [53]:
tweet_values = tweet.values()   # iterable for the values
tweet_values

dict_values(['joelgrus', 'Data Science is Awesome', 100, ['#data', '#science', '#datascience', '#awesome', '#yolo']])

In [54]:
tweet_items  = tweet.items()    # iterable for the (key, value) tuples
tweet_items

dict_items([('user', 'joelgrus'), ('text', 'Data Science is Awesome'), ('retweet_count', 100), ('hashtags', ['#data', '#science', '#datascience', '#awesome', '#yolo'])])

In [55]:
"user" in tweet_keys            # True, but not Pythonic

True

In [56]:
"user" in tweet                 # Pythonic way of checking for keys

True

In [57]:
"joelgrus" in tweet_values      # True (slow but the only way to check)

True

In [60]:
#defautl dict si no está lo añade con 0
from collections import defaultdict
document = ["data", "science", "from", "scratch"]
word_counts = defaultdict(int) # int() produces 0
for word in document:
    word_counts[word] += 1
dd_list = defaultdict(list)             # list() produces an empty list
dd_list[2].append(1)                    # now dd_list contains {2: [1]}

dd_dict = defaultdict(dict)             # dict() produces an empty dict
dd_dict["Joel"]["City"] = "Seattle"     # {"Joel" : {"City": Seattle"}}

In [61]:
dd_list

defaultdict(list, {2: [1]})

In [62]:
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [63]:
lambda: [0, 0]

In [65]:
dd_pair = defaultdict(lambda: [0, 0])
dd_pair

defaultdict(<function __main__.<lambda>()>, {})

In [66]:
dd_pair[2][1] = 1                       # now dd_pair contains {2: [0, 1]}
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1]})

In [68]:
dd_pair[1][0] = 1                       # now dd_pair contains {2: [0, 1]} añade 1 ye en la posición 0 por un 1
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 1], 1: [1, 0]})

In [69]:
dd_pair[2][0] = 1                       # now dd_pair contains {2: [1, 1]}
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [1, 1], 1: [1, 0]})

In [72]:
#counter convierte una secuencia de valores en un defautldict(int) como un object mapping key to contador
from collections import Counter
c = Counter([0, 1, 2, 0])          # c is (basically) {0: 2, 1: 1, 2: 1}
c
word_counts = Counter(document)
word_counts

Counter({'data': 1, 'science': 1, 'from': 1, 'scratch': 1})

In [73]:
document = ["data", "science", "from", "scratch", "data"]
word_counts = Counter(document)

#print 2 common words
for word, count in word_counts.most_common(2):
    print(word, count)

data 2
science 1

In [74]:
#set es una colección de elementos diferentes
# in se usa muy rapidamente en los sets
s = set()
s.add(1)       # s is now {1}
s.add(2)       # s is now {1, 2}
s.add(2)       # s is still {1, 2}
x = len(s)     # equals 2

In [75]:
hundreds_of_other_words = []  # required for the below code to run

stopwords_list = ["a", "an", "at"] + hundreds_of_other_words + ["yet", "you"]

"zip" in stopwords_list     # False, but have to check every element

stopwords_set = set(stopwords_list)
"zip" in stopwords_set      # very fast to check

False

In [76]:

item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list)                # 6
item_set = set(item_list)                 # {1, 2, 3}
num_distinct_items = len(item_set)        # 3
distinct_item_list = list(item_set)       # [1, 2, 3]

In [77]:
item_set

{1, 2, 3}

In [78]:
distinct_item_list

[1, 2, 3]

In [79]:
x = None
print(x is None)

True

In [84]:
print("" is False)

False

In [90]:
def some_function_that_returns_a_string():
    return ""
s = some_function_that_returns_a_string()
if s:
    first_char = s[0]
else:
    first_char = ""
first_char

''

In [91]:
# forma simple de hacer lo mismo
def some_function_that_returns_a_string():
    return "11"
s = some_function_that_returns_a_string()    
first_char = s and s[0]
first_char

'1'

In [92]:
all([True, 1, {3}])   # True, all are truthy
all([True, 1, {}])    # False, {} is falsy
any([True, 1, {}])    # True, True is truthy

False

In [96]:
all([])               # True, no falsy elements in the list

True

In [98]:
any([])               # False, no truthy elements in the list

False

In [99]:
x = [4, 1, 2, 3]
y = sorted(x)     # y is [1, 2, 3, 4], x is unchanged
x.sort()          # now x is [1, 2, 3, 4]

In [100]:
# sort the list by absolute value from largest to smallest
x = sorted([-4, 1, -2, 3], key=abs, reverse=True)  # is [-4, 3, -2, 1]

In [101]:
# sort the words and counts from highest count to lowest
wc = sorted(word_counts.items(),
            key=lambda word_and_count: word_and_count[1],
            reverse=True)
wc

[('data', 2), ('science', 1), ('from', 1), ('scratch', 1)]

In [102]:
#list comprehensions
even_numbers = [x for x in range(5) if x % 2 == 0]  # [0, 2, 4]
squares      = [x * x for x in range(5)]            # [0, 1, 4, 9, 16]
even_squares = [x * x for x in even_numbers]        # [0, 4, 16]
even_squares

[0, 4, 16]

In [103]:
#convirtiendo en dictionary
square_dict = {x: x * x for x in range(5)}  # {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [106]:
#conviertiendo en set
square_set  = {x * x for x in [1, -6]}      # {1} si en x hubiera [1, -1]
square_set

{1, 36}

In [107]:
zeros = [0 for _ in even_numbers]      # has the same length as even_numbers
zeros

[0, 0, 0]

In [108]:
#los generator son lazy significa que solo se crean si los usas
#Cuando el intérprete Python encuentra una función que incluye un yield (o varios), entiende que al llamar esta función no obtendremos un valor devuelto con un return, sino que obtendremos un generador (generator) Los generadores se pueden iterar solo una vez si necesitas otro debes crear otro
def contador(max):
    print("=Dentro de contador - empezando")
    n=0
    while n < max:
        print(f"=Dentro de contador - viene yield con n={n}")
        yield n
        print("=Dentro de contador - retomando después de yield")
        n=n+1
    print("=Dentro de contador - terminando")

print("Instanciando contador") 
mycont = contador(3)
print("Contador instanciado") 

for i in mycont:
    print(f"valor leido del iterador={i}") 
print("Listo")

Instanciando contador
Contador instanciado
=Dentro de contador - empezando
=Dentro de contador - viene yield con n=0
valor leido del iterador=0
=Dentro de contador - retomando después de yield
=Dentro de contador - viene yield con n=1
valor leido del iterador=1
=Dentro de contador - retomando después de yield
=Dentro de contador - viene yield con n=2
valor leido del iterador=2
=Dentro de contador - retomando después de yield
=Dentro de contador - terminando
Listo

In [114]:
def lazy_range(n):
    i = 0
    while i < n:
        yield i
        i+= 1
for a in lazy_range(10):
    print(f"elemento a={a}")

elemento a=0
elemento a=1
elemento a=2
elemento a=3
elemento a=4
elemento a=5
elemento a=6
elemento a=7
elemento a=8
elemento a=9

In [116]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.8821189193982292,
 0.5462941283116993,
 0.2767618783937441,
 0.22330852453719785]

In [121]:
# oara random reproducibles usa seed
random.seed(10)
print(random.random())

0.5714025946899135

In [142]:
random.randrange(10) # choose randomly from range(10) = [0, 1, ..., 9]
print(random.randrange(10))

3

In [141]:
random.randrange(3, 6)  # choose randomly from range(3, 6) = [3, 4, 5]
print(random.randrange(3, 6) )

5

In [148]:
#re_ordenar un conjunto random
hasta_10 = range(10)
hasta_10
up_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(up_to_ten)
print(up_to_ten)

[5, 6, 2, 4, 8, 1, 7, 10, 9, 3]

In [149]:
#elegir un valor random de la lista
my_best_friend = random.choice(["Alice", "Bob", "Charlie"])     # 
my_best_friend

'Charlie'

In [150]:
#elejir un conjunto random dado una lista sin permitir duplicados
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)  # 
winning_numbers

[41, 52, 11, 49, 57, 30]

In [151]:
#random permitiendo duplicados
four_with_replacement = [random.choice(range(10)) for _ in range(4)]
print(four_with_replacement)  #

[5, 5, 6, 3]

In [155]:
#experesion regulares
import re
re_examples = [                        # all of these are true, because
    not re.match("a", "cat"),              #  'cat' doesn't start with 'a'
    re.search("a", "cat"),                 #  'cat' has an 'a' in it
    not re.search("c", "dog"),             #  'dog' doesn't have a 'c' in it
    3 == len(re.split("[ab]", "carbs")),   #  split on a or b to ['c','r','s']
    "R-D-" == re.sub("[0-9]", "-", "R2D2") #  replace digits with dashes
    ]
re_examples

[True, <re.Match object; span=(1, 2), match='a'>, True, True, True]

In [153]:
#construiremoa funciones miembros, es decir que pertenecen a una clase
class SetLili:
    def __init__(self, values = None):
        """constructor se puede usar con s1 = SetLili() o s2 = SetLili([1,2,3,4]) inicializando values """
        self.__dict__ = {}
        if valued is not None:
            for value in values:
                self.add(value)

True

In [156]:
def exp(base, power):
    return base**power

In [157]:
from functools import partial
twoToThe = partial(exp, 2)
print(twoToThe(3))

8

In [158]:
document

['data', 'science', 'from', 'scratch', 'data']

In [159]:
#forma de iterar correct

for i, doc in enumerate(document):
    print(i, doc)

0 data
1 science
2 from
3 scratch
4 data

In [160]:
#zip a list
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

In [163]:
#zip is lazy
zip(list1, list2)

In [164]:
# zip is lazy, so you have to do something like the following
[pair for pair in zip(list1, list2)]    # is [('a', 1), ('b', 2), ('c', 3)]

[('a', 1), ('b', 2), ('c', 3)]

In [165]:
pairs = [('a', 1), ('b', 2), ('c', 3)]
letters, numbers = zip(*pairs)
#el asterisco es para desempacar

numbers

(1, 2, 3)

In [166]:
letters

('a', 'b', 'c')